/*Identité graphique*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
/*extensions*/
.title-typography
{
    font-family: 'Shrikhand', cursive;
    color:black;
}
.text-typography
{
    font-family: 'Roboto', sans-serif;
    color:black;
}
.border-title__meal{
    content:"_";
    border-bottom: solid 3px $color-tertiary;
    display: block;
    width:40px;
    color: transparent;
    margin-top:-15px;
}
.button-omf
{
    width:60%;
    padding:15px 5px 15px 5px;
    font-size:16px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border:none;
    color:white;
    background-image: linear-gradient(to right bottom,$color-secondary,$color-primary);
    box-shadow: 1px 2px 10px grey;
}
/*body*/
*
{
    box-sizing: border-box;
}

body
{
    @extend .text-typography;
    @extend .title-typography;
    overflow-x:hidden;
    width: 100%;
    margin: 0;
}
/*header*/
.logo
{
    width:170px;
    margin-right:30%;
    margin-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*barre de recherche*/
.location 
{
    text-align: center;
    background-color: #EAEAEA;
    width:100%;
    margin:0;
    padding-right:40px;
}

input
{
    border:none;
    text-align: left;
    width:40%;
    padding-top:15px;
    margin-left:0;
    padding-bottom:15px;
    font-size: 18px;
    background-color: transparent; 
}

input::placeholder
{
   color: black;
   opacity:0.8;
   font-weight:bolder;
   @extend .text-typography;
   font-weight: 400;
}

input:focus
{
    outline:none;
}

.fa-location-dot::before
{
  margin-right:10px;
  margin-left:50px;
  font-size:18px;
  opacity:0.8;  
}
/*top-main*/
.text-button
{
    display: flex;
    flex-direction: column;
    text-align:center;
    padding:30px 0px 60px 0px;
    background-color: #F6F6F6;
    h1{
        margin:0px 30px 0px 30px;
        font-size: 25px;
        font-weight:700;
        }
        p{
            font-size: 18px;
            font-weight:lighter;
        }
        .button--purple{
           @extend .button-omf;
        }
}
/*fonctionnement*/
#function{
    margin-left:10px;
    margin-bottom: 80px;
    .function-card__container{
        display:flex;
        flex-direction: row;
        margin:0px 10px 20px 7px;
        text-align: center;
        align-items: baseline;
        border-radius: 20px;
        box-shadow: 4px 4px 10px 1px #EBEBEB;
        .function-card--number{
            background-color:$color-primary;
            color:white;
            padding:1%;
            width:25px;
            height:25px;
            border-radius:50%;
            text-align: center;
            font-size:15px;
            margin-left: -10px;
        }
        .fa-function{
            width:25px;
            height:25px;
            margin:20px;
            font-size:20px;
            opacity:0.6;
        }
        .function-card__title{
            font-size:16px;
        }
    }
}
/*Restaurant*/
#restaurant{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-bottom:50px;
    .restaurant__title{
        margin-left:10px;
    }
    .restaurant-card__container{
        margin:0px 10px 0px 10px;
        border-radius: 15px;
        height: 270px;
        margin-bottom:15px;
        box-shadow: 1px 1px 10px grey;
        background-color: white;
        a{
            text-decoration: none;
            color:black;
            .restaurant__img{
                width:100%;
                height:190px;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
            .restaurant__text{
                margin-left:10px;
                margin-right:15px;
                padding-top:15px;
                display:flex;
                justify-content: space-between;
                align-items: center;
                .restaurant__title{
                    font-size: 18px;
                    margin:0;
                }
                .restaurant__location{
                    font-size:17px;
                    margin-top:2%;
                }
            
                .fa-heart{
                    font-size:25px;
                    margin: 0px 5px 20px;
                    
                }
            }     
        }
    }
}

footer{
    background-color: #353535;
    padding-top:15px;
    padding-bottom: 10px;
    .footer__title{
        font-family: 'Shrikhand',cursive;
        margin-left:10px;
        color: #F6F6F6;
        font-size:20px;
        font-weight: 200;
        margin-top:2%;
        margin-left:5%;
        margin-bottom: 0;
    }
    ul{
        list-style-type: none;
        li{
            margin-left: -5%;
            margin-bottom: 3%;
            font-size:15px;
            font-weight: 500;
            color:#F6F6F6;
            .fa-solid{
                font-size:13px;
                margin-right: 8px;
            }
        }
    }

}
/*menu */
header{
    display:flex;
    align-items: center;
    margin: 10px 80px 0px 20px;
    a{
        color:black;
        margin:30px -40px 10px 0px;
    }
    .fa-arrow-left{
        font-size: 20px;
    }
}
/* haut de la carte menu*/
#menu-card{
    background-color:#F6F6F6;
    display: flex;
    flex-direction: column;
    .menu-card__image{
        width: 100%;
        object-fit: cover;
        margin-bottom:-10px;
    }
    .menu-card__top{
       padding-top: 25px;
       margin-top:-30px;
       background-color: #F6F6F6;
       border-radius: 40px;
        .menu-card__title{
            @extend .title-typography;
            font-size:28px;
            font-weight: 400;
            margin-left: 20px;
            margin-top:5px;
            }
            .fa-regular{
                margin-left:6%;
            }
    }
}
/*entrées*/

.entrance,.dish,.dessert{
    margin:0px 10px 20px 8px;


.meal__title{
    text-transform: uppercase;
    font-weight: 200;
    font-size:15px;
    margin-left:2px;
    }
    .meal__title::after{
        @extend .border-title__meal;
    }
    .card-meal{
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        height: 70px;
        width: 100%;
        border-radius: 15px;
        .card-meal__name{
            font-weight: 700;
            font-size: 17px;
            margin-bottom:-10px;
            margin-left:10px;
            margin-top: 15px;
            width: 260px;
            height: 20px;
            white-space: nowrap;
        }
        .card-meal__desc{
            margin-left:10px;
            width: 270px;
            height: 20px;
            font-size: 14px;
            font-weight: 100;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow: hidden;
            
        }
        .card-meal__price{
            margin:-35px 80px 50px 295px;
            font-weight: 700;
            font-size:15px;
        }  
    }
}

.button--purple__meal{
    @extend .button-omf;
    display: block;
    width: 190px;
    margin-top: 45px;
    margin-bottom:40px;
}

